/* body {
font-family: 'Roboto', sans-serif;
width: 1600px;
height: 2349px;
color: #757575
float: left;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    float: left;
   
}
.menu-item {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    float: left;

}
.menu-item:hover,
.menu-item:active,
.menu-item:focus {
    color: #2196F3;
}
.container {
    width: 1200px;
    max-height: 80px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
}
.header {
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    line-height: 1.6;

}

.button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

.onebutton {
    background-color: #2F303A;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    float: left;
}

section bacground {
    background-color: #212121;
}

.lorem>li>h3 {
    text-align: left font-style: normal;
    color: #212121;
}

.lorem>p {
    color: #757575;
    font-style: normal;

}

.image2 {
    background: #F5F4FA;
}

.image>ul>li>h2 {
    text-align: center;
    color: #212121;
}

.image2>ul>li>h2 {
    text-align: center;
    color: #212121;
}

.signature1>h3 {
    color: #212121
}

.footer {
    background-color: #212121;
    color: #FFFFFF;
}

.adress>p>span {
    color: #FFFFFF;
}

.web {
    color: #2196F3;
    text-decoration: none;
    font-style: normal;

}

.footer-item {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.footer-item:hover,
.footer-item:focus,
.footer-item:active {
    color: rgba(255, 255, 255, 0.6);
}
.contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contact:hover,
.contact:focus,
.contact:active {
    color: rgba(255, 255, 255, 0.6);
}

li {
    list-style-type: none;
}

.Web {
    color: #2196F3
}

.button2 {
    background-color: #2196F3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1.6;
}

.button2:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

.button2:active footer>address>p>span {
    font-family: 'Raleway';
}

.signature3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.header .container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 215px;
    float:left;
  
}

.menu-item:not(last-child) {
    margin-right: 46px;
}

.menu-2-phone {
    padding-right: 227px;
    padding-left: 50px;
}

.header{
    width:100%;
}


*/

body {
    font-family: 'Roboto', sans-serif;
    width: 1200px;
    height: 2349px;
    color: #757575
}

 .container{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red
   
}

.header{
    width:1200px;  
    border-bottom: 1px solid;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.all {
    align-items:center;
    flex-direction: row;
    display: flex;
    justify-content: space-between; 
}

.menu-item {   
        margin-left: 23px;
        margin-right: 23px;
        
}
.link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
    color: #212121;
}
.link:hover,
.link:active,
.link:focus {
    color: #2196F3;
}
.menu{
    float: left;
    display: flex;
    color: #212121;  
}
.menu-text {
    color: #757575;
    text-decoration: none;
    font-family: 'Raleway';
}
li {
    list-style-type: none;
}
.Web {
    color: #2196F3;
}
.onebutton {
    
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    height: 600px;
}
.bg {
    background-image:
     url("/images/img.jpg");
     background-repeat: no-repeat;
     background-size: auto;
    
}

.button2 {
    background-color: #2196F3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1.6;
}

.button2:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}
.lorem>li>h3 {
    text-align: left 
    font-style: normal;
    color: #212121;
}

.lorem>p {
    color: #757575;
    font-style: normal;
    font-family: 'Roboto';

}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.lorem {
    display: flex;
    font-style: normal;
    padding: 0px;
    justify-content: space-between;
}
.image {
    display: flex;
    justify-content: space-between;
}
.temat {
    text-align: center;
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
}
.image2 {
    text-align: center;
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    background: #F5F4FA;
}
.images {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.figure {
    margin: 0;
}
.signature1>h3 {
    color: #212121
}

.footer {
    background-color: #212121;
    color: #FFFFFF;
}

.adress>p>span {
    color: #FFFFFF;
}

.web {
    color: #2196F3;
    text-decoration: none;
    font-style: normal;

}

.footer-item {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.footer-item:hover,
.footer-item:focus,
.footer-item:active {
    color: rgba(255, 255, 255, 0.6);
}

.contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contact:hover,
.contact:focus,
.contact:active {
    color: rgba(255, 255, 255, 0.6);
}
button {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    line-height: 1.6;

}

.button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}
.portfolio-button {
    display: flex;
    text-align: center;
    justify-content: center;
}
.pb {
    margin-right: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.image3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image3 > figure {
    display: flex;
    justify-content: center;
    align-items: center;  
}
.menu-item-icon-poczta {
    height: 12px;
    width: 16px;
}
.menu-item-icon-telefon {
    height: 12px;
    width: 16px;
}